#!/usr/local/bin/env bash

ANSIBLE_VAULT_PASSWORD_FILE=/etc/ansible/vault
GNUPGHOME=$(pwd)/.gnupg
PIPENV_VENV_IN_PROJECT=1

export ANSIBLE_VAULT_PASSWORD_FILE
export GNUPGHOME
export PIPENV_VENV_IN_PROJECT
