[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
ansible-navigator = "*"
gitpython = "*"
loguru = "*"
pipenv = "*"
redis = "*"
sphinx = "*"

[dev-packages]
myst-parser = {extras = ["linkify"], version = "*"}
pylint = "*"
sphinx = "*"
sphinx-ansible = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinxcontrib-autoyaml = "*"
version-query = "*"

[pipenv]
allow_prereleases = true
