[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
loguru = "*"
pipenv = "*"
sphinx = "*"

[dev-packages]
"sphinxcontrib.autoyaml" = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-design = "*"
version-query = "*"

[pipenv]
allow_prereleases = true
